<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div>
            <label for="title">Enter your title</label>
            <input type="text" name="title" id="" />
        </div>
        <div>
            <label for="description">Enter your description</label>
            <input type="text" name="description" id="" />
        </div>
        <div>
            <input type="file" name="image" />
        </div>
        <button type="submit">Upload Image</button>
    </form>
</body>

</html>